/* mein erstes Stylesheet */
<style> 

body {
		font-family: sans-serif
}
h1, h2, h3 {
		font-family: serif
}

.wichtig {
	color: red;
	font-weight: bold
}

* {border:1px dashed #3a5fcd}

#abbildung1
{background-color: lime
}
h1 {
		text-align:center; font-size:80px; 

}
h2 {
		color: green;
}

h3
{
    color:#55ACC9;
    font-family:Garamond;
    font-size:24px
    
}
div
{
	font-size: 28;
	font-family:Arial;
	height: 50px;
	width: 1000px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #308014;
	margin-left: 60px
}

/*damit es schöner ausschaut
span {
	font-family:cursive;
	background-color:yellow
}
!*/

a:hover {color:#55acc9; font-weight:bold}

#schoen {font-family: Arial; font-weight: bold}

a {color:#cc0000}
figure {
		border: 2px dotted green;
		padding: 2em;
}
</style>	